*, h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: unset;
  margin: unset;
  font-family: "Nunito";
}

body {
  overflow: hidden;
}

#container {
  width: 85%;
  margin-left: 7.5%;
}

.header-margin {
  margin: 5px 0 25px 0;
}

.leftcontain .headername__title {
  color: #7EBDC2;
}

.headername {
  font-size: 50px;
  margin-top: 50px;
  color: #25858C;
}

.headername__title {
  font-size: 25px;
  color: #25858C;
}

.headername__title-sub {
  color: #7EBDC2;
  font-size: 20px;
}

.link {
  margin-top: 35px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  color: #25858C;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 7.5px 12.5px;
}

.link:hover {
  color: white;
  background: #25858C;
  border: 1px solid #25858C;
}

.liner {
  width: 100%;
  height: 1px;
  background-color: gray;
  margin: 15% 0;
}

.code {
  margin-left: 10px;
}

.work__image {
  max-width: 100%;
  height: auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  cursor: pointer;
}

.work__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.work__image-box {
  margin: 20px 0;
  width: 100%;
  overflow: hidden;
}

.work__tile {
  margin-bottom: 20%;
}

.work__tile-img {
  width: 100%;
  height: auto;
  background-color: gray;
  margin: 20px 0;
}

.work__tile-title {
  display: inline-block;
}

.work__tile-title_right {
  float: right;
}

.work__catalog p {
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 7.5px 10px;
  border-radius: 5px;
}

.work__tile-img {
  position: relative;
}

.work__tile-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-work {
  background-color: coral;
}

.btn-project {
  background-color: #D384CA;
}

.para {
  font-size: 13px;
  line-height: 23px;
}

.social {
  margin-top: 50px;
}

.social__list-button {
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid white;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.social__list-button-img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.social__list-button * {
  display: inline-block;
}

.social__list-button a {
  text-decoration: none;
  color: black;
}

.social__list-button p {
  vertical-align: super;
  font-size: 13px;
}

.social__list-button:hover {
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}

.slb__center {
  margin: 0 20px;
}

/*****CONTACT*****/
.contact {
  border-radius: 5px;
  margin-bottom: 100px;
}

.contact__button {
  cursor: pointer;
  font-weight: bold;
  padding: 7.5px 15px;
  background-color: #7EBDC2;
  display: inline-block;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.contact__button:hover {
  background-color: #25858C;
}

form {
  font-size: 15px;
}

.form__inputs {
  display: block;
  width: 100%;
  border: 2px solid lightblue;
  border-radius: 5px;
  margin: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__inputs[type="text"] {
  padding: 10px;
}

.form__inputs:hover {
  border: 2px solid #25858C;
}

.form__inputs:focus {
  border: 2px solid #25858C;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

textarea {
  height: unset !important;
  padding: 10px;
}

.submitbutton {
  margin-bottom: unset;
  cursor: pointer;
  background: #7EBDC2;
  color: white;
  font-weight: bold;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 2px solid #7EBDC2;
  padding: 10px;
}

.submitbutton:hover {
  background: #25858C;
  border: 3px solid #25858C;
}

.worklist {
  display: none;
  font-size: 13px;
  margin-top: 35px;
}

.worklist__work:hover {
  color: coral;
}

.worklist__work:hover .worklist__liner {
  background: coral;
}

.worklist__project:hover {
  color: #D384CA;
}

.worklist__project:hover .worklist__liner {
  background: #D384CA;
}

.worklist__catalog-choice {
  display: inline-block;
  padding: 7.5px 12.5px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  font-weight: bold;
  border: 1px solid white;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.worklist__item {
  margin: 15px 0;
  display: table;
}

.worklist__item div {
  display: inline-block;
}

.worklist__item:hover .worklist__liner {
  width: 60px;
}

.worklist__item div {
  cursor: pointer;
}

.worklist__liner {
  width: 50px;
  height: 1px;
  background: black;
  vertical-align: super;
  margin: 0 5px;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}

.worklist__active {
  color: white !important;
}

.worklist__active.wcc__work {
  background: coral;
  border: 1px solid white !important;
}

.worklist__active.wcc__project {
  background: #D384CA;
  border: 1px solid white !important;
}

.worklist__active.wcc__all {
  background: #7EBDC2;
  border: 1px solid white !important;
}

.wcc__all:hover {
  color: #7EBDC2;
  border: 1px solid #ddd;
}

.wcc__work {
  margin: 0 10px;
}

.wcc__work:hover {
  color: coral;
  border: 1px solid #ddd;
}

.wcc__project:hover {
  color: #D384CA;
  border: 1px solid #ddd;
}

.inactive {
  display: none;
}

.worklist .active .worklist__liner {
  width: 125px;
}

.worklist .worklist__work.active {
  color: coral;
}

.worklist .worklist__work.active .worklist__liner {
  background-color: coral;
}

.worklist .worklist__project.active {
  color: #D384CA;
}

.worklist .worklist__project.active .worklist__liner {
  background-color: #D384CA;
}

@media only screen and (min-width: 992px) {
  #container {
    width: 90%;
    margin-left: 5%;
    margin-top: 75px;
  }
  .leftcontain {
    width: 33%;
    float: left;
    position: fixed;
  }
  .headername {
    margin-top: unset;
  }
  .worklist {
    display: block;
  }
  .rightcontain {
    width: 50%;
    margin-left: 50%;
  }
  .liner {
    width: 0;
    height: 0;
    background-color: gray;
    margin: 0;
  }
}

@media only screen and (min-width: 1350px) {
  #container {
    width: 1200px;
    margin: auto;
    margin-top: 75px;
  }
  .leftcontain {
    width: 25%;
  }
}

/**LOADER**/
.loader {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: white;
  z-index: 20000;
  position: fixed;
  top: 0;
  left: 0;
}

.loader__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #25858C;
}

.loader p {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */