@import 'variables.scss';

*, h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: unset;
    margin: unset;
    font-family: "Nunito";
}

#container {
    width: 85%;
    margin-left: 7.5%;
}

.main-header {
    margin-top: 200px;
}

.header-margin {
    margin: 5px 0 40px 0;
}

.headername {
    font-size: 5rem;
    &__title {
        font-size: 3rem;
        color: #7EBDC2;
        &-sub {
            color: #25858C;
            font-size: 2.5rem;
        }
    }
}

.link {
    margin-top: 50px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.liner {
    width: 100%;
    height: 1px;
    background-color: gray;
    margin: 15% 0;
}

.website {
    margin-right: 15px;
}

.code {
    margin-left: 15px;
}

.work {
    &__tile {
        margin-bottom: 25%;
        &-img {
            width: 100%;
            padding-top: 60%;
            background-color: gray;
            margin: 7.5% 0;
        }
        &-title {
            display: inline-block;
            &_right {
                float: right;
            }
        }
    }
    &__catalog {
        & p {
            color: white;
            font-weight: bold;
            font-size: 1.5rem;
            padding: 10px 20px;
            border-radius: 10px;
        }
    }
}

.work__tile-img {
    position: relative;
}

.work__tile-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn {
    &-work {
        background-color: coral;
    }
    &-project {
        background-color: #D384CA;
    }
}

.para {
    font-size: 2.5rem;
}

/*****CONTACT*****/
.contact {
    border-radius: 5px;
    margin-bottom: 100px;
    &__header {
        &-main {

        }
        &-descript {

        }
    }
}

footer {
    width: 85%;
    margin-left: 7.5%;
}

form {
    font-size: 2.5rem;
}

.form__inputs {
    display: block;
    width: 100%;
    border: 3px solid lightblue;
    border-radius: 5px;
    margin: 50px 0;
    box-sizing: border-box;
    height: 100px;
    &[type="text"] {
        padding: 30px;
    }
}

textarea {
    height: unset !important;
    padding: 30px;
}

.submitbutton {
    margin-bottom: unset;
    cursor: pointer;
    background: #7EBDC2;
    color: white;
    font-weight: bold;
    transition: all .3s ease-in-out;
    border: 3px solid #7EBDC2;
    &:hover {
        background: #25858C;
        border: 3px solid #25858C;
    }
}
