@import 'variables.scss';

*, h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: unset;
    margin: unset;
    font-family: "Nunito";
}

#container {
    width: 85%;
    margin-left: 7.5%;
}

.header-margin {
    margin: 5px 0 25px 0;
}

.leftcontain .headername__title {
    color: #7EBDC2;
}

.headername {
    font-size: 50px;
    margin-top: 50px;
    color: #25858C;
    &__title {
        font-size: 25px;
        color: #25858C;
        &-sub {
            color: #7EBDC2;
            font-size: 20px;
        }
    }
}

.link {
    margin-top: 35px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    color: #25858C;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    padding: 7.5px 12.5px;
    &:hover {
        color: white;
        background: #25858C;
        border: 1px solid #25858C;
    }
}

.liner {
    width: 100%;
    height: 1px;
    background-color: gray;
    margin: 15% 0;
}

.code {
    margin-left: 10px;
}

.work__image {
    max-width: 100%;
    height: auto;
    transition: all .3s ease-in-out;
    transform: scale(1.025);
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.work__image-box {
    margin: 20px 0;
    width: 100%;
    overflow: hidden;
}

.work {
    &__tile {
        margin-bottom: 20%;
        &-img {
            width: 100%;
            height: auto;
            background-color: gray;
            margin: 20px 0;
        }
        &-title {
            display: inline-block;
            &_right {
                float: right;
            }
        }
    }
    &__catalog {
        & p {
            color: white;
            font-weight: bold;
            font-size: 15px;
            padding: 7.5px 10px;
            border-radius: 5px;
        }
    }
}

.work__tile-img {
    position: relative;
}

.work__tile-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn {
    &-work {
        background-color: coral;
    }
    &-project {
        background-color: #D384CA;
    }
}

.para {
    font-size: 13px;
    line-height: 23px;
}

.social {
    margin-top: 50px;
    &__list {
        &-button {
            cursor: pointer;
            display: inline-block;
            border-bottom: 1px solid white;
                transition: all .2s ease-in-out;
            &-img {
                height: 20px;
                width: 20px;
                margin-right: 5px;
            }
            & * {
                display: inline-block;
            }
            & a {
                text-decoration: none;
                color: black;
            }
            & p {
                vertical-align: super;
                font-size: 13px;
            }
            &:hover {
                border-bottom: 1px solid black;
                padding-bottom: 2px;
            }
        }
    }
}

.slb__center {
    margin: 0 20px;
}

/*****CONTACT*****/
.contact {
    border-radius: 5px;
    margin-bottom: 100px;
    &__header {
        &-main {

        }
        &-descript {

        }
    }
    &__button {
        cursor: pointer;
        font-weight: bold;
            padding: 7.5px 15px;
            background-color: #7EBDC2;
            display: inline-block;
            border-radius: 5px;
            color: white;
            text-decoration: none;
            transition: all .2s ease-in-out;
            &:hover {
                background-color: #25858C;
        }
    }
}

form {
    font-size: 15px;
}

.form__inputs {
    display: block;
    width: 100%;
    border: 2px solid lightblue;
    border-radius: 5px;
    margin: 20px 0;
    box-sizing: border-box;
    &[type="text"] {
        padding: 10px;
    }
    &:hover {
        border: 2px solid #25858C;
    }
    &:focus {
        border: 2px solid #25858C;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

textarea {
    height: unset !important;
    padding: 10px;
}

.submitbutton {
    margin-bottom: unset;
    cursor: pointer;
    background: #7EBDC2;
    color: white;
    font-weight: bold;
    transition: all .2s ease-in-out;
    border: 2px solid #7EBDC2;
    padding: 10px;
    &:hover {
        background: #25858C;
        border: 3px solid #25858C;
    }
}

.worklist {
    display: none;
    font-size: 13px;
    margin-top: 35px;
    &__work:hover {
        color: coral;
        & .worklist__liner {
            background: coral;
        }
    }
    &__project:hover {
        color: #D384CA;
        & .worklist__liner {
            background: #D384CA;
        }
    }
    &__catalog {
        &-choice {
            display: inline-block;
            padding: 7.5px 12.5px;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 15px;
            font-weight: bold;
            border: 1px solid white;
            transition: all .2s ease-in-out;
        }
    }
    &__item {
        margin: 15px 0;
        display: table;
        & div {
            display: inline-block;
        }
        &:hover .worklist__liner {
            width: 60px;
        }
        & div {
            cursor: pointer;
        }
    }
    &__liner {
        width: 50px;
        height: 1px;
        background: black;
        vertical-align: super;
        margin: 0 5px;
        transition: width .2s ease-in-out;
    }
    &__active {
        color: white !important;
    }
    &__active.wcc__work {
        background: coral;
        border: 1px solid white !important;
    }
    &__active.wcc__project {
        background: #D384CA;
        border: 1px solid white !important;
    }
    &__active.wcc__all {
        background: #7EBDC2;
        border: 1px solid white !important;
    }
}

.wcc__all:hover {
    color: #7EBDC2;
    border: 1px solid #ddd;
}

.wcc__work {
    margin: 0 10px;
    &:hover {
        color: coral;
        border: 1px solid #ddd;
    }
}

.wcc__project:hover {
    color: #D384CA;
    border: 1px solid #ddd;
}

.inactive {
    display: none;
}

.worklist .active .worklist__liner {
    width: 125px;
}

.worklist .worklist__work.active {
    color: coral;
}

.worklist .worklist__work.active .worklist__liner {
    background-color: coral;
}

.worklist .worklist__project.active {
    color: #D384CA;
}

.worklist .worklist__project.active .worklist__liner {
    background-color: #D384CA;
}

@media only screen and (min-width:992px) {
    #container {
        width: 90%;
        margin-left: 5%;
        margin-top: 75px;
    }
    .leftcontain {
        width: 33%;
        float: left;
        position: fixed;
    }
    .headername {
        margin-top: unset;
    }
    .worklist {
        display: block;
    }
    .main-header {
    }
    .rightcontain {
        width: 50%;
        margin-left: 50%;
    }
    .liner {
        width: 0;
        height: 0;
        background-color: gray;
        margin: 0;
    }
}

@media only screen and (min-width:1350px) {
    #container {
        width: 1200px;
        margin: auto;
        margin-top: 75px;
    }
    .leftcontain {
        width: 25%;
    }
}

/**LOADER**/
.loader {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #7EBDC2;
    z-index: 20000;
    position: fixed;
    top: 0;
    left: 0;
    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}