*, h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: unset;
  margin: unset;
  font-family: "Nunito";
}

#container {
  width: 85%;
  margin-left: 7.5%;
}

.header-margin {
  margin: 5px 0 25px 0;
}

.headername {
  font-size: 50px;
}

.headername__title {
  font-size: 25px;
  color: #7EBDC2;
}

.headername__title-sub {
  color: #25858C;
  font-size: 20px;
}

.link {
  margin-top: 45px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.liner {
  width: 100%;
  height: 1px;
  background-color: gray;
  margin: 15% 0;
}

.website {
  margin-right: 15px;
}

.code {
  margin-left: 15px;
}

.work__tile {
  margin-bottom: 25%;
}

.work__tile-img {
  width: 100%;
  padding-top: 60%;
  background-color: gray;
  margin: 20px 0;
}

.work__tile-title {
  display: inline-block;
}

.work__tile-title_right {
  float: right;
}

.work__catalog p {
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 10px;
}

.work__tile-img {
  position: relative;
}

.work__tile-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-work {
  background-color: coral;
}

.btn-project {
  background-color: #D384CA;
}

.para {
  font-size: 13px;
  line-height: 23px;
}

.social {
  margin-top: 50px;
}

.social__list-button {
  cursor: pointer;
  display: inline-block;
}

.social__list-button-img {
  height: 25px;
  width: 25px;
  border-radius: 100%;
}

.social__list-button * {
  display: inline-block;
}

.social__list-button a {
  text-decoration: none;
  color: black;
}

.social__list-button p {
  vertical-align: super;
  font-size: 13px;
}

.slb__center {
  margin: 0 10px;
}

/*****CONTACT*****/
.contact {
  border-radius: 5px;
  margin-bottom: 100px;
}

form {
  font-size: 2.5rem;
}

.form__inputs {
  display: block;
  width: 100%;
  border: 3px solid lightblue;
  border-radius: 5px;
  margin: 50px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100px;
}

.form__inputs[type="text"] {
  padding: 30px;
}

textarea {
  height: unset !important;
  padding: 30px;
}

.submitbutton {
  margin-bottom: unset;
  cursor: pointer;
  background: #7EBDC2;
  color: white;
  font-weight: bold;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 3px solid #7EBDC2;
}

.submitbutton:hover {
  background: #25858C;
  border: 3px solid #25858C;
}

.worklist {
  font-size: 13px;
  margin-top: 35px;
}

.worklist__work:hover {
  color: coral;
}

.worklist__work:hover .worklist__liner {
  background: coral;
}

.worklist__project:hover {
  color: #D384CA;
}

.worklist__project:hover .worklist__liner {
  background: #D384CA;
}

.worklist__catalog-choice {
  display: inline-block;
  padding: 7.5px 12.5px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  font-weight: bold;
  border: 1px solid white;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.worklist__item {
  margin: 15px 0;
  display: table;
}

.worklist__item div {
  display: inline-block;
}

.worklist__item:hover .worklist__liner {
  width: 60px;
}

.worklist__item div {
  cursor: pointer;
}

.worklist__liner {
  width: 50px;
  height: 1px;
  background: black;
  vertical-align: super;
  margin: 0 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.worklist__active {
  color: white !important;
}

.worklist__active.wcc__work {
  background: coral;
  border: 1px solid white !important;
}

.worklist__active.wcc__project {
  background: #D384CA;
  border: 1px solid white !important;
}

.worklist__active.wcc__all {
  background: #7EBDC2;
  border: 1px solid white !important;
}

.wcc__all:hover {
  color: #7EBDC2;
  border: 1px solid #ddd;
}

.wcc__work {
  margin: 0 10px;
}

.wcc__work:hover {
  color: coral;
  border: 1px solid #ddd;
}

.wcc__project:hover {
  color: #D384CA;
  border: 1px solid #ddd;
}

.inactive {
  display: none;
}

.worklist .active .worklist__liner {
  width: 125px;
}

.worklist .worklist__work.active {
  color: coral;
}

.worklist .worklist__work.active .worklist__liner {
  background-color: coral;
}

.worklist .worklist__project.active {
  color: #D384CA;
}

.worklist .worklist__project.active .worklist__liner {
  background-color: #D384CA;
}

@media only screen and (min-width: 992px) {
  #container {
    width: 90%;
    margin-left: 5%;
    margin-top: 75px;
  }
  .leftcontain {
    width: 33%;
    float: left;
    position: fixed;
  }
  .rightcontain {
    width: 50%;
    margin-left: 50%;
  }
  .liner {
    width: 0;
    height: 0;
    background-color: gray;
    margin: 0;
  }
}
/*# sourceMappingURL=main.css.map */